In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

from retrieve_columns_loghi import retrieve_columns

In [2]:
# Parse the XML file
tree = ET.parse('/home/roderickmajoor/Desktop/Master/Thesis/GT_data/55/page/WBMA00007000010.xml')
root = tree.getroot()

In [3]:
# Define a function to extract information from table cells
def extract_table_cell(cell):
    cell_info = {}
    cell_info['id'] = cell.get('id')
    cell_info['row'] = int(cell.get('row', 0))
    cell_info['col'] = int(cell.get('col', 0))
    cell_info['rowSpan'] = int(cell.get('rowSpan', 1))
    cell_info['colSpan'] = int(cell.get('colSpan', 1))
    cell_info['coords'] = cell.find('{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}Coords').get('points')
    text_equiv = cell.findtext('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TextEquiv/{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}Unicode')
    cell_info['text'] = text_equiv if text_equiv else ''
    return cell_info

# Define a function to extract information from table regions and create DataFrames for each region
def extract_table_regions(root):
    table_regions = root.findall('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TableRegion')
    dfs = []
    for region in table_regions:
        cells = region.findall('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TableCell')
        cell_data = [extract_table_cell(cell) for cell in cells]
        max_row = max(cell['row'] + cell['rowSpan'] for cell in cell_data)
        max_col = max(cell['col'] + cell['colSpan'] for cell in cell_data)
        table = [[''] * max_col for _ in range(max_row)]
        for cell in cell_data:
            for i in range(cell['row'], cell['row'] + cell['rowSpan']):
                for j in range(cell['col'], cell['col'] + cell['colSpan']):
                    table[i][j] = cell['text']
        df = pd.DataFrame(table)
        dfs.append(df)
    return dfs

In [4]:
# Extract table regions and create DataFrames
dataframes = extract_table_regions(root)

# Display DataFrames
for i, df in enumerate(dataframes):
    print(f"Table Region {i+1}:")
    print(df)
    print("\n")

Table Region 1:
         0 1     2      3   4  5
0
1    feb 5      35   2448
2        6     346   3366
3       14      67   1000
4       16     124   1800
5    4 mrt     120   1800
6              905   1134
7       15     540    668   4  8
8       16      69   1225
9       26     155    700
10      29     344    366
11      30     308    861
12    Ap 6     343    600
13             593   1799  15
14       9     709    652  10
15      10     952   1029  17
16      16     948    895  10
17      18     954   1407   5
18      19     330   1075
19             949   1075
20      20     131    300  14  8
21             982   1044  15  8
22      29     173    666  13
23   may 2     658   1065
24       4     515   2451
25             420   1802   5
26       9     426   1246  17  8
27      17     690    597
28      27     553    150
29            1150    862   6  8
30      29    1101   2590  17  8
31      31     552   2000
32            1071    768  12  8
33            1093   1245
34                  40694   3  8
35  july 1      58   2043   5  8
36             995    700
37       5     552    700
38      15     261   1500
39             724    300
40            1112   1720
41            1215   1291   6  8
42      18    1226   1937
43      27     724   1200
44  July 3     196   3000
45            1235   1800
46            1298   1228   5  8
47       4     636   1200
48       5     724   3000
49            1091   1561  18
50            1327  10006  16
51                  73882  15


Table Region 2:
          0 1     2      3   4  5
0                     4381  16
1                92   1227
2                52    759   7  8
3         8      79   1216  10
4         9      32   1220  19
5        12     394    600
6        14      32   2060   8
7        20      67   1000
8   8 maart     320    913  10
9        13     394    300
10       18     260    300
11       20      71   1049   2  8
12       21     173    607  10
13       26      47   1571  18
14       27     155    700
15       30     724   1513  10
16     Ap 6     983   2146   9
17        9     186   1237   4
18       10     131    300
19       17    1001   1833   7  8
20       19     332    595  10
21             1004   1063  15
22    1 may    1001    426   1
23              145   2400
24        4     130   2451
25        7     963   1836
26        9     995   1088  14
27       23     145    899   1
28       25     429    636
29       28     572   1072  10
30       29     110  14040
31       31     394    500
32             1177   1000
33                   52947   2  8
34   juny 4     995    700
35        8    1027   2506   5
36       15    1223    949  17
37       18    1060   1243  15
38             1191    600
39             1215   2487  10
40       21    1228   2296  15
41       22    1086    596  13
42       25    1281   2509   7  8
43       26    1175   2562  10
44       27     724   1500
45       28    1161   1000
46   july 2    1223    613  10
47             1304    715  10
48        5     420    654
49                   73882  15

In [5]:
dataframes[0]

         0 1     2      3   4  5
0
1    feb 5      35   2448
2        6     346   3366
3       14      67   1000
4       16     124   1800
5    4 mrt     120   1800
6              905   1134
7       15     540    668   4  8
8       16      69   1225
9       26     155    700
10      29     344    366
11      30     308    861
12    Ap 6     343    600
13             593   1799  15
14       9     709    652  10
15      10     952   1029  17
16      16     948    895  10
17      18     954   1407   5
18      19     330   1075
19             949   1075
20      20     131    300  14  8
21             982   1044  15  8
22      29     173    666  13
23   may 2     658   1065
24       4     515   2451
25             420   1802   5
26       9     426   1246  17  8
27      17     690    597
28      27     553    150
29            1150    862   6  8
30      29    1101   2590  17  8
31      31     552   2000
32            1071    768  12  8
33            1093   1245
34                  40694   3  8
35  july 1      58   2043   5  8
36             995    700
37       5     552    700
38      15     261   1500
39             724    300
40            1112   1720
41            1215   1291   6  8
42      18    1226   1937
43      27     724   1200
44  July 3     196   3000
45            1235   1800
46            1298   1228   5  8
47       4     636   1200
48       5     724   3000
49            1091   1561  18
50            1327  10006  16
51                  73882  15

In [6]:
dataframes[1]

          0 1     2      3   4  5
0                     4381  16
1                92   1227
2                52    759   7  8
3         8      79   1216  10
4         9      32   1220  19
5        12     394    600
6        14      32   2060   8
7        20      67   1000
8   8 maart     320    913  10
9        13     394    300
10       18     260    300
11       20      71   1049   2  8
12       21     173    607  10
13       26      47   1571  18
14       27     155    700
15       30     724   1513  10
16     Ap 6     983   2146   9
17        9     186   1237   4
18       10     131    300
19       17    1001   1833   7  8
20       19     332    595  10
21             1004   1063  15
22    1 may    1001    426   1
23              145   2400
24        4     130   2451
25        7     963   1836
26        9     995   1088  14
27       23     145    899   1
28       25     429    636
29       28     572   1072  10
30       29     110  14040
31       31     394    500
32             1177   1000
33                   52947   2  8
34   juny 4     995    700
35        8    1027   2506   5
36       15    1223    949  17
37       18    1060   1243  15
38             1191    600
39             1215   2487  10
40       21    1228   2296  15
41       22    1086    596  13
42       25    1281   2509   7  8
43       26    1175   2562  10
44       27     724   1500
45       28    1161   1000
46   july 2    1223    613  10
47             1304    715  10
48        5     420    654
49                   73882  15

In [7]:
xml_columns = '/home/roderickmajoor/Desktop/Master/Thesis/GT_data/55/page/WBMA00007000010_columns_found.xml'
xml_loghi = '/home/roderickmajoor/Desktop/Master/Thesis/loghi/data/55/page/WBMA00007000010.xml'

df = retrieve_columns(xml_columns, xml_loghi)
df.head(50)

,0,1,2,3,4,5,6,7,8,9,10,11
0,130,Jan,35,2448,3366,8,th,Moet,bal,122019,10,8
1,feb,Eijghels,346,1000,861,4,14,hebb,32,394,7,28
2,6,Deben,67,1800,15,148,20,395,321,600,10,18
3,14,5,124,1800,6520,13,meert,Feb,67,20608,18,8
4,meert,aen,1120,1134,10291,8,13,10,P20,1000,9,
5,15,Paqe,905,668,7010,68,18,van,394,9,9,
6,16,Martijn,55,540,5,8,20,Jan,266,13,4,
7,26,aen,844,1225,10441158,128,21,Elise,21,300,10,
8,29,Franc,308,69,2451,38,26,ginderdeurg,173,300,15,
9,30,dvicq,342,100,5,58,27,8117,47,1049,14,
10,apn,aen,692,366,17,8,30,Gerard,155,60,10,
11,9,Jage,709,600,5,55,Apo,Luysten,182,1571,17,
12,10,bours,948,179,6,,9,9,186,100,15,
13,16,1607,954,9,16,,to,van,131,24,10,
14,28,Lourisz,330,52,15,,17,Do,1001,1513,229615,
15,19,Lusse,949,1407,,,19,dle,932,2146,13,
16,26,aen,131,1075,,,1,histraat,1001,1237,7,
17,29,geurt,982,1078,,,may,van,745,100,256210,
18,maij,Pietersz,173,300,,,4,danit,por,18337,10,
19,2,aende,658,666,,,van,Antgers,963,595,71510,
20,4,Coupans,420,1065,,,9,van,995,1004,15,
21,9,aende,426,515,,,23,dla,145,1663,10,
22,Een,oost,690,1802,,,28,bistraat,429,4261,,
23,27,Ind,853,124613,,,29,van,119,2400,,
24,29,Compe,1186,597,,,3181,Jaqe,294,130,,
25,31,Hoorn,1101,150,,,junij,boursz,713,2451,,
26,Junij,aent,552,862,,,15,Pieter,395,1836,,
27,5,fait,1071,2590,,,18,Poullens,1027,1088,,
28,5,van,1093,2000,,,21,wed,1223,8991,,
29,15,Wickenoort,58,768,,,22,van,1060,636,,
30,18,aot,295,1245,,,25,David,1191,1012,,
31,27,Jacq,5552,40694,,,26,Zuegers,1215,14040,,
32,1,lespoul,124,2042,,,27,Isack,1228,500,,
33,Juij,aende,1112,300,,,28,Jacobssz,1086,1000,,
34,4,barnarts,1215,100,,,Julij,vande,1175,5294,,
35,5,mits,1226,261,,,5,bats,116,700,,
36,,aen,124,1500,,,,van,1223,25065,,
37,,Quartier,196,300,,,,Mathout,1304,949,,
38,,Caextpr,1235,1720,,,,onder,420,1242,,
39,,aen,1298,129,,,,Waster,92,600,,
40,,Piosuim,724,1931,,,,van,52,2487,,
41,,Heller,191,1200,,,,ppauls,79,596,,
42,,aen,1527,3000,,,,godijn,,2509,,
43,,pietter,,1800,,,,van,,724,,
44,,Cloeck,,1228,,,,ssaij,,150,,
45,,Matheus,,1200,,,,delespaul,,1000,,
46,,Senst,,3000,,,,gasster,,612,,
47,,aer,,156118,,,,coymans,,654,,
48,,hijsbert,,10006,,,,6,,17882,,
49,,theulinx,,1785½,,,,vn,,438116,,