In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

from retrieve_columns_loghi import retrieve_columns
from get_cell_coords import get_col_row, find_loghi_words, create_table

In [2]:
# Parse the XML file
tree = ET.parse('/home/roderickmajoor/Desktop/Master/Thesis/GT_data/55/page/WBMA00007000010.xml')
root = tree.getroot()

In [3]:
# Define a function to extract information from table cells
def extract_table_cell(cell):
    cell_info = {}
    cell_info['id'] = cell.get('id')
    cell_info['row'] = int(cell.get('row', 0))
    cell_info['col'] = int(cell.get('col', 0))
    cell_info['rowSpan'] = int(cell.get('rowSpan', 1))
    cell_info['colSpan'] = int(cell.get('colSpan', 1))
    cell_info['coords'] = cell.find('{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}Coords').get('points')
    text_equiv = cell.findtext('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TextEquiv/{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}Unicode')
    cell_info['text'] = text_equiv if text_equiv else ''
    return cell_info

# Define a function to extract information from table regions and create DataFrames for each region
def extract_table_regions(root):
    table_regions = root.findall('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TableRegion')
    dfs = []
    for region in table_regions:
        cells = region.findall('.//{http://schema.primaresearch.org/PAGE/gts/pagecontent/2013-07-15}TableCell')
        cell_data = [extract_table_cell(cell) for cell in cells]
        max_row = max(cell['row'] + cell['rowSpan'] for cell in cell_data)
        max_col = max(cell['col'] + cell['colSpan'] for cell in cell_data)
        table = [[''] * max_col for _ in range(max_row)]
        for cell in cell_data:
            for i in range(cell['row'], cell['row'] + cell['rowSpan']):
                for j in range(cell['col'], cell['col'] + cell['colSpan']):
                    table[i][j] = cell['text']
        df = pd.DataFrame(table)
        dfs.append(df)
    return dfs

In [4]:
# Extract table regions and create DataFrames
dataframes = extract_table_regions(root)

# Display DataFrames
for i, df in enumerate(dataframes):
    print(f"Table Region {i+1}:")
    print(df)
    print("\n")

Table Region 1:
         0 1     2      3   4  5
0
1    feb 5      35   2448
2        6     346   3366
3       14      67   1000
4       16     124   1800
5    4 mrt     120   1800
6              905   1134
7       15     540    668   4  8
8       16      69   1225
9       26     155    700
10      29     344    366
11      30     308    861
12    Ap 6     343    600
13             593   1799  15
14       9     709    652  10
15      10     952   1029  17
16      16     948    895  10
17      18     954   1407   5
18      19     330   1075
19             949   1075
20      20     131    300  14  8
21             982   1044  15  8
22      29     173    666  13
23   may 2     658   1065
24       4     515   2451
25             420   1802   5
26       9     426   1246  17  8
27      17     690    597
28      27     553    150
29            1150    862   6  8
30      29    1101   2590  17  8
31      31     552   2000
32            1071    768  12  8
33            1093   1245
34                  40694   3  8
35  july 1      58   2043   5  8
36             995    700
37       5     552    700
38      15     261   1500
39             724    300
40            1112   1720
41            1215   1291   6  8
42      18    1226   1937
43      27     724   1200
44  July 3     196   3000
45            1235   1800
46            1298   1228   5  8
47       4     636   1200
48       5     724   3000
49            1091   1561  18
50            1327  10006  16
51                  73882  15


Table Region 2:
          0 1     2      3   4  5
0                     4381  16
1                92   1227
2                52    759   7  8
3         8      79   1216  10
4         9      32   1220  19
5        12     394    600
6        14      32   2060   8
7        20      67   1000
8   8 maart     320    913  10
9        13     394    300
10       18     260    300
11       20      71   1049   2  8
12       21     173    607  10
13       26      47   1571  18
14       27     155    700
15       30     724   1513  10
16     Ap 6     983   2146   9
17        9     186   1237   4
18       10     131    300
19       17    1001   1833   7  8
20       19     332    595  10
21             1004   1063  15
22    1 may    1001    426   1
23              145   2400
24        4     130   2451
25        7     963   1836
26        9     995   1088  14
27       23     145    899   1
28       25     429    636
29       28     572   1072  10
30       29     110  14040
31       31     394    500
32             1177   1000
33                   52947   2  8
34   juny 4     995    700
35        8    1027   2506   5
36       15    1223    949  17
37       18    1060   1243  15
38             1191    600
39             1215   2487  10
40       21    1228   2296  15
41       22    1086    596  13
42       25    1281   2509   7  8
43       26    1175   2562  10
44       27     724   1500
45       28    1161   1000
46   july 2    1223    613  10
47             1304    715  10
48        5     420    654
49                   73882  15

In [ ]:
dataframes[0]

In [ ]:
dataframes[1]

In [5]:
xml_columns = '/home/roderickmajoor/Desktop/Master/Thesis/GT_data/55/page/WBMA00007000010.xml'
xml_loghi = '/home/roderickmajoor/Desktop/Master/Thesis/loghi/data/55/page/WBMA00007000010.xml'
image_path = '/home/roderickmajoor/Desktop/Master/Thesis/GT_data/55/WBMA00007000010.jpg'

In [8]:
column_coords, row_coords = get_col_row(xml_loghi, image_path)
loghi_words_dict = find_loghi_words(xml_loghi)
df_loghi = create_table(column_coords, row_coords, loghi_words_dict)

In [11]:
df_loghi[0].reset_index(drop=True)

,0,1,2,3,4,5
0,[130],[],[],[],[],[]
1,[],[1647],[],[],[],[]
2,[],"[Jan, Eijghels, Deben]",[],[],[],[]
3,[feb],"[5, aen, Paqe, Martijn]",[35],"[1, 2448]",[],[]
4,[6],"[aen, Franc, dvicq]",[346],"[1, 3366]",[],[]
5,[14],"[aen, Jage, bours]",[67],[1000],[],[]
6,[],"[1607, Lourisz, Lusse]",[124],[1800],[],[]
7,"[1, meert]","[aen, geurt, Pietersz]",[1120],[1800],[],[]
8,[],"[aende, Coupans]",[905],[1134],[],[]
9,[15],"[aende, oost, Ind, Compe, Hoorn]",[540],[668],[4],[8]
10,[16],"[aent, fait, van, Wickenoort]",[69],[1225],[],[]
11,[26],"[aot, Jacq, lespoul]",[55],"[1, 100]",[],[]
12,[29],"[aende, barnarts]",[844],[366],[],[]
13,[30],"[mits, aen]",[308],"[1, 861]",[],[]
14,[],[],[342],[600],[],[]
15,[apn],"[Quartier, Caextpr]",[],[9],"[1, 15]",[]
16,[],"[aen, Piosuim, Heller]",[692],[179],[],[]
17,[9],"[aen, pietter, Cloeck]",[709],[6520],[],[]
18,[10],"[1, Matheus, Senst]",[52],[10291],[],[]
19,[16],"[aer, hijsbert, theulinx, 1]",[948],[7010],[],[]
20,[28],"[aen, Corn, vangoor]",[954],[1407],"[1, 5]",[]
21,[19],"[aen, Comboit, 8, Jacobsen]",[330],[1075],[],[]
22,[],"[aen, Abraham, engels]",[949],"[1, 1078]",[],[]
23,[26],"[salo, mos, es, perco, de, quena]",[131],"[300, 1]",[],[148]
24,[],"[aende, baths]",[982],[10441158],[],[]
25,[29],"[aen, mathasus, Ondeseboter]",[173],"[1, 666]",[13],[]
26,[],[],[658],[1065],[],[]
27,"[maij, 2]","[aen, Frans, sprins]",[],[],[],[]
28,[4],"[an, hr, Gsercard, Schaap]",[],"[515, 2451]",[],[]
29,[],"[ean, Dirck, van, Horst, 420]",[1],[1802],[5],[]
30,[9],"[426, aend, robbert, Caffart]",[],[124613],[],[8]
31,[Een],"[Claes, van, woggelom]",[690],[597],[],[]
32,[27],"[Jacobvn, bronchorst]",[853],[150],[],[]
33,[],"[Marcus, broes]",[1186],[862],[68],[]
34,[29],"[aen, Ginderdeuren]",[1101],[2590],[17],[8]
35,[31],"[aen, Michiel, de, Spinose]",[552],[2000],[],[]
36,[],"[aen, Josumus, van, Barlaer]",[1071],[768],[1],[128]
37,[],"[aen, Salomon, en, Po, du, quesmo]",[1093],"[1, 1245]",[],[]
38,[],[],[],[40694],[],[38]
39,"[Junij, 5]","[aen, Willem, wats]",[58],[2042],[5],[58]
40,[],"[xgut, of, aen, hays]",[295],[300],[],[]
41,[5],"[aen, michiel, Amijn]",[5552],[100],[],[]
42,[15],"[adnjacquesz, aubrij]",[],"[261, 1500]",[],[]
43,[],"[adagaiper, Coeijmansz, 124]",[],[300],[],[]
44,[],"[adrpieter, tripdn, 1]",[1112],[1720],[],[]
45,[],"[aen, port, van, fand, Bats]",[1215],[129],[6],[8]
46,[18],"[adnfacque, Gespoul]",[1226],[1931],[],[]
47,"[27, 1]","[aen, Gapper, Coijmans, 124]",[1],[1200],[],[]
48,[Juij],"[van, Henart, Slicher]",[196],"[1, 3000]",[],[]
49,[],"[1, Willem, 1, Borssel, 1235]",[],"[1, 1800]",[],[]
50,[],"[aen, Joris, Linniesen]",[1298],[1228],[1],[55]
51,[4],"[636, Jan, stevens]",[],[1200],[],[]
52,[5],"[aen, Gaspur, Ceijmans]",[724],[3000],[],[]
53,[],"[aen, Jacques, de, Clercq]",[191],[156118],[],[]
54,[9],"[hem, selven, pesalvo, desen]",[1527],"[10006, 1]",[16],[]
55,[],[],[],[1785½],[15],[]

In [12]:
dataframes[0]

         0 1     2      3   4  5
0
1    feb 5      35   2448
2        6     346   3366
3       14      67   1000
4       16     124   1800
5    4 mrt     120   1800
6              905   1134
7       15     540    668   4  8
8       16      69   1225
9       26     155    700
10      29     344    366
11      30     308    861
12    Ap 6     343    600
13             593   1799  15
14       9     709    652  10
15      10     952   1029  17
16      16     948    895  10
17      18     954   1407   5
18      19     330   1075
19             949   1075
20      20     131    300  14  8
21             982   1044  15  8
22      29     173    666  13
23   may 2     658   1065
24       4     515   2451
25             420   1802   5
26       9     426   1246  17  8
27      17     690    597
28      27     553    150
29            1150    862   6  8
30      29    1101   2590  17  8
31      31     552   2000
32            1071    768  12  8
33            1093   1245
34                  40694   3  8
35  july 1      58   2043   5  8
36             995    700
37       5     552    700
38      15     261   1500
39             724    300
40            1112   1720
41            1215   1291   6  8
42      18    1226   1937
43      27     724   1200
44  July 3     196   3000
45            1235   1800
46            1298   1228   5  8
47       4     636   1200
48       5     724   3000
49            1091   1561  18
50            1327  10006  16
51                  73882  15

In [15]:
df_loghi[1].reset_index(drop=True)

,6,7,8,9,10,11
0,[],[],[],[130],[],[]
1,[],[47],[],[],[],[]
2,[],"[Moet, hebb, 395, Feb, 10]",[bal],[438116],[],[]
3,[],[],[92],[1227],[],[]
4,[],"[van, Jan, Elise]",[],[],[],[]
5,[],[ginderdeurg],[52],[7592],[],[8]
6,[],"[8117, Gerard, Luysten]",[79],[1216],[10],[]
7,[9],"[van, Do, dle, histraat]",[32],[122019],[],[]
8,[th],"[van, danit, Antgers]",[],"[394, 600]",[],[]
9,[14],"[van, dla, bistraat]",[321],[20608],[],[]
10,[20],"[van, Jaqe, boursz]",[67],[1000],[],[]
11,[meert],"[Pieter, Poullens, wed]",[P20],"[9, 13]",[10],[]
12,[13],"[van, David, Zuegers]",[394],[300],[],[]
13,[18],"[Isack, Jacobssz]",[266],[300],[],[]
14,[20],"[vande, bats]",[21],[1049],[],[28]
15,[21],"[van, Mathout, onder, Waster]",[173],"[60, 7]",[10],[]
16,[26],"[van, ppauls, godijn]",[47],[1571],[18],[]
17,[27],"[van, ssaij, delespaul]",[155],[100],[],[]
18,[30],"[gasster, coymans]","[1, 24]",[1513],[9],[]
19,[Apo],"[6, vn, 1, bats]",[182],[2146],[9],[]
20,[9],"[van, Iole, Boi]",[186],[1237],[4],[]
21,[to],"[Salomes, pieterdquene]",[131],"[1, 100]",[],[]
22,[17],"[dart, van, ad, Muys]",[1001],[18337],[],[18]
23,[19],"[Jacob, tenmin]",[932],[595],[10],[]
24,[1],"[van, de, sarresstiers]",[],"[1004, 1663]",[15],[]
25,[may],"[abraham, muygart]",[1001],[4261],[],[]
26,[],"[Jan, Bardt]",[745],[2400],[],[]
27,[4],"[vanAem, Selust, voor, Conten, por]",[],"[130, 2451]",[],[]
28,[van],"[Franco, Calandrinj]",[963],[1836],[],[]
29,[9],"[van, 109, daelefpaul]",[995],[1088],[14],[]
30,[23],"[van, Jan, Chart]",[145],"[8991, 1]",[],[]
31,[],"[pocctor, en, Japob, hooft]",[429],[636],[],[]
32,[28],"[1512, van, Vugo, fits]",[],[1012],[10],[]
33,[29],"[pag, Aernoits, de, Zaet]",[119],[14040],[],[]
34,[3181],"[an, David, Lntgers]",[294],[500],[],[]
35,[],"[vande, Coeiman]",[713],[1000],[],[]
36,[],[],[],[5294],[],[]
37,[junij],"[4, van, Jage, dle, paul]",[395],[700],[],[]
38,[],"[van, Jacob, Tamieau]",[1027],[25065],[],[]
39,[15],"[Janle, noor]",[1223],[949],[17],[]
40,[18],"[van, Joris, Lievensz]",[1060],[1242],[15],[]
41,[],"[van, hags, libert]",[1191],[600],[],[]
42,[],[],[1215],[2487],[10],[]
43,[],"[van, ddte]",[],[],[],[]
44,[21],"[van, daniel, de, labistraet]",[1228],[229615],[],[]
45,[22],"[pan, Jan, 1, planche]",[1086],[596],[13],[]
46,[25],"[1281, van, Jacob, tamuneau]",[],[2509],[7],[8]
47,[26],"[van, Francois, Callandri]",[1175],[256210],[],[]
48,[27],"[vangasper, Coeijmunss]",[724],[150],[],[]
49,[28],"[abraham, dafondeau]",[116],[1000],[],[]
50,[Julij],"[2, van, Jan, le, Noij]",[1223],[612],[10],[]
51,[],"[1, van, remont, 1, Smit]",[1304],[71510],[],[]
52,[5],"[dirck, vander, horst]",[420],[654],[],[]
53,[],[],[],[17882],[15],[]

In [16]:
dataframes[1]

          0 1     2      3   4  5
0                     4381  16
1                92   1227
2                52    759   7  8
3         8      79   1216  10
4         9      32   1220  19
5        12     394    600
6        14      32   2060   8
7        20      67   1000
8   8 maart     320    913  10
9        13     394    300
10       18     260    300
11       20      71   1049   2  8
12       21     173    607  10
13       26      47   1571  18
14       27     155    700
15       30     724   1513  10
16     Ap 6     983   2146   9
17        9     186   1237   4
18       10     131    300
19       17    1001   1833   7  8
20       19     332    595  10
21             1004   1063  15
22    1 may    1001    426   1
23              145   2400
24        4     130   2451
25        7     963   1836
26        9     995   1088  14
27       23     145    899   1
28       25     429    636
29       28     572   1072  10
30       29     110  14040
31       31     394    500
32             1177   1000
33                   52947   2  8
34   juny 4     995    700
35        8    1027   2506   5
36       15    1223    949  17
37       18    1060   1243  15
38             1191    600
39             1215   2487  10
40       21    1228   2296  15
41       22    1086    596  13
42       25    1281   2509   7  8
43       26    1175   2562  10
44       27     724   1500
45       28    1161   1000
46   july 2    1223    613  10
47             1304    715  10
48        5     420    654
49                   73882  15